.main {
  max-width: 400px;
  margin: 0 auto;
}

.row {
  margin-bottom: 20px;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.lightContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.lightItem {}